<ul><li>Item 1</li><li>Item 2</li><li>Item 3<ul><li>Item 3-1</li><li>Item 3-2</li><li>Item 3-3</li></ul></li><li>Item 4<ul><li>Item 4-1</li><li>Item 4-2<ul><li>Item 4-2-1</li><li>Item 4-2-2<ul><li>Item 4-2-2-1</li><li>Item 4-2-2-2</li><li>Item 4-2-2-3</li></ul></li></ul></li></ul></li></ul>